.mouseHover{
  cursor: pointer;
}

.itemToDo{
  width: 25rem;
  margin: 0 auto;
  border: solid 1px black;
}
.bgToDoList{
  background-image: url('../../../assets/bockground\ toDoList.jpg');
  height: 100vh;

}
.postIt{
  background-position: center;
  background-size: contain;
  height: 200px;
}
